
<!DOCTYPE >

<script runat="server">
    protected void Page_Load(object sender, EventArgs e)
    {
        using (SqlConnection cn = new SqlConnection(ConfigurationManager.ConnectionStrings["Data Source=.\SQLEXPRESS;Initial Catalog=BlackJackDB;User Id=sa;Password=password"].ToString()))
        {
    debugger;
            SqlCommand cmd = new SqlCommand("SELECT * FROM Players", cn);
            cn.Open();
            SqlDataReader rdr = cmd.ExecuteReader(CommandBehavior.CloseConnection);
            rdr.Read();
            Response.Write(rdr[0].ToString()); //read a value
    debugger;
        }
    }
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>SQL Authentication</title>
</head>
<body />
</html>

