@model Blackjack.Models.ViewModels.GameViewModel
@{
    ViewBag.Title = "Home Page";

}


<h2 class="displayName">Dealer</h2>
<ul class="dealer"></ul>

<h2 class="displayName">Player</h2>
<ul class="player"></ul>

<br />
<button id="hit" class="hit">Hit</button>
<button id="shuffle" class="load">Shuffle</button>
<button id="deal" class="deal">Deal</button>