@model Blackjack.Models.ViewModels.GameViewModel
@{
    ViewBag.Title = "Home Page";

}

    <h2 id="dealerName" class="row displayName">Dealer</h2>
    <ul class="row dealer"></ul>
    <h2 id="playerName" class="row displayName">Player</h2>
    <ul class="row player"></ul>

    <br />
    <button id="hit" class="hit">Hit</button>
    <button id="shuffle" class="load">Shuffle</button>
    <button id="deal" class="deal">Deal</button>
    <button id="stay" class="stay">Stay</button>
