@using Blackjack.BLL
@model Blackjack.Models.ViewModels.GameViewModel

@Styles.Render("~/Content/style.css")
<body>
    <button class="btn-default" id="start">Start game</button>
    <div id="game" style="display: none">
        <div id="dealerGroup"></div>
        <div id="playerGroup"></div>
        <br />
        <div id="hitBtn">
            <button id="deal" class="deal">Deal</button>
        </div>  
    </div>  
</body>
    
 