body {
    background-color: green;
    padding-top: 50px;
    padding-bottom: 20px;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html{
	font-size: 10px;
}
.arraydisplay{
	padding: 3rem;
	margin: 5rem 0 0 5rem ;
	font-size: 2rem;
	width: 60rem;
	border: 1px solid #000000;
    word-wrap: break-word;
}
.cardDisplay{
    margin-right: 10px;
    padding: 4rem 3rem;
    background-color: white;
	display: inline;
	font-size: 2rem;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #000000;
    border-radius: 10px;
}
.load{
	margin: 5rem;
}
ul{
    padding: 0;
	list-style-type: none;
}
.dealer{
    margin-bottom: 5rem;
    text-decoration: none;
}
.player{
    text-decoration: none;
}
.displayName{
	margin-bottom: 5rem;
}

footer{
    background-color: white;
    height: 5rem;
}

.footer__hr{
    border-top: 3px solid bisque;
    border-bottom: 1px solid black;
}